<%- include('../partials/header') %> 
<%= title %>
<h2>Holdings</h2>
<% if (holdings.length) { %>
    <table>
      <thead>
        <tr>
          <th>Stock Symbol</th>
          <th>Security Name</th>
          <th>Quantity</th>
          <th>Average Cost</th>
          <th>Price</th>
          <th>Market Value</th>
          <th>Unrealized Gain/Loss</th>
        </tr>
      </thead>
      <tbody>
        <% holdings.forEach(function(holding) { %>
          <tr>
            <td><a href="/portfolios/<%= portfolio.id %>/holdings/<%= holding.id %>/edit"><%= holding.symbol %></a></td>
            <td><%= holding.name %></td>
            <td><%= holding.quantity %></td>
            <td><%= holding.avgCost %></td>
            <td><%= holding.price %></td>
            <td><%= holding.marketValue %></td>
            <td><%= holding.unrealizedGL %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Holdings Yet</h5>
  <% } %>

  <form id="add-holding" method="POST" action="/portfolios/<%= portfolio.id %>/holdings">
    <label>Symbol:</label>
    <input type="text" name="symbol">
    <label>Quantity:</label>
    <input type="number" name="quantity">
    <label>Average Cost:</label>
    <input type="number" name="avgCost">
    <label>Market Value:</label>
    <input type="number" name="marketValue">
    <input type="submit" value="Add holding">
    </form>

  <%- include('../partials/footer') %> 