<%- include('../partials/header') %> 
<nav class="navbar justify-content-end">
  <a href="/portfolios">Portfolios</a>
  <a href="/logout" id="logout-right">Logout</a>
</nav>
<div class="bg-image" 
     style="background-image: url('https://images.unsplash.com/photo-1521080755838-d2311117f767?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2162&q=80');
            height: 100vh">
<div class="container">
<h2>Holdings</h2>
<div class="table-wrapper-scroll-y my-custom-scrollbar">
<% if (holdings.length) { %>
    <table class="table">
      <thead>
        <tr>
          <th>Stock Symbol</th>
          <th>Security Name</th>
          <th>Quantity</th>
          <th>Average Cost</th>
          <th>Price</th>
          <th>Market Value</th>
          <th>Unrealized Gain/Loss</th>
        </tr>
      </thead>
      <tbody>
        <% holdings.forEach(function(holding) { %>
          <tr>
            <td><a href="/portfolios/<%= portfolio.id %>/holdings/<%= holding.id %>/edit"><%= holding.symbol %></a></td>
            <td><%= holding.name %></td>
            <td><%= holding.quantity %></td>
            <td>$<%= holding.avgCost %></td>
            <td>$<%= holding.price %></td>
            <td>$<%= holding.marketValue %></td>
            <td>$<%= holding.unrealizedGL %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
    </div>
  <% } else { %>
    <h5>No Holdings Yet</h5>
  <% } %>
  <form id="add-holding" method="POST" action="/portfolios/<%= portfolio.id %>/holdings" class="input-group-text" autocomplete="off">
    <div class="input-group mb-3">
      <span class="input-group-text">Symbol:</span>
      <input type="text" name="symbol" class="form-control" required>
      <span class="input-group-text">Quantity:</span>
      <input type="number" name="quantity" class="form-control" required>
      <span class="input-group-text">Average Cost:</span>
      <input type="text" name="avgCost" class="form-control" required>
      <input type="submit" value="Add holding" class="btn cyan btn-outline-secondary">
    </div>
    <!-- <input type="number" name="marketValue" class="form-control"> -->
  </form>
</div>
</div>  
  <%- include('../partials/footer') %> 